/.idea/
/nxt.iml
/nxt_db/
/webapps/
/classes/
/*.log
/*.log.*
/html/doc/*
/html/**/*.gz
/keystore
/nfd.jar
/nfd_test_db/
*.trace
/nxt-trace.csv
/README_win.txt
/package.sh
/bin/
/nxt.log.*
/nfd_db
/.metadata
/.settings/
/compile.bat
